.ui.checkbox .box,
.ui.checkbox label {

	color: white;

}

.ui.checkbox .box:before,
.ui.checkbox label:before {
	color: white;

}

.ui.checkbox .box:after,
.ui.checkbox label:after {
color: white;

}

.ui.checkbox label,
.ui.checkbox + label {

	color: white;
}


.ui.checkbox label:hover,
.ui.checkbox + label:hover {

	color: white;
}


.ui.checkbox .box:active::before,
.ui.checkbox label:active::before {

	color: white;
}

.ui.checkbox .box:active::after,
.ui.checkbox label:active::after {

	color: white;
}

.ui.checkbox input:active ~ label {
	color: white;
}


.ui.checkbox input:focus ~ .box:before,
.ui.checkbox input:focus ~ label:before {

	color: white;
}

.ui.checkbox input:focus ~ .box:after,
.ui.checkbox input:focus ~ label:after {

	color: white;
}

.ui.checkbox input:focus ~ label {
	color: white;
}


.menuItem {
  border-bottom: 1px solid #0ea0ff;
  padding-top: 10px;
   padding-bottom: 10px;
  padding-left: 10px;
}